#body_content_left {background:url(../images/cont_bg.gif) no-repeat 50% 0%; padding-top:40px !important}

#body_content_left div {margin-left: auto;margin-right: auto; width: 972px; overflow:hidden}

#body_content_left .container_12 .grid_6{width:446px;}

