.track {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #000;
  font-size: 90%;
  line-height: 2.4;
  margin: 2px 7px 2px 7px;
  padding: 3px 10px;
  white-space: nowrap;
  cursor: pointer;
}

.track:hover {
  border: 1px solid #fff;
  color: #fff;
}

.shaded {
  opacity: .4;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";/*IE8*/
  filter: alpha(opacity=40);/*IE7*/
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -khtml-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

