<% cache('footer') do -%>
<div class="foot">
  <div class="footer">
    <div class="copy">
      <%= t('.copyright1') -%> &copy; <%= t('.copyright2', :year => Time.now.year,
                                            :site_name => RefinerySetting.find_or_set(:site_name, "Strange Loop")) %>
      <p></p>
      <%= raw t('.attribution') %>
    </div>

    <% link_tree(@menu_pages).reverse.each do |page_group| -%>
    <div class="footer_box resources_box">
      <%= render :partial => 'shared/footer_menu', :collection => page_group %>
    </div>
    <% end -%>
  </div>
</div>
<% end -%>
