<% cache('footer') do -%>
<div class="foot">
  <div class="footer">
    <div class="copy">
      <%= t('.copyright1') -%> &copy; <%= t('.copyright2', :year => Time.now.year,
                                            :site_name => RefinerySetting.find_or_set(:site_name, "Company Name")) %>
      <span style="margin-left: 10px;">
        <a href="http://www.twitter.com" target="_blank"><img src="/images/socialmedia/twitter.png" style="border: none; margin-left :5px;"/></a>
        <a href="http://www.facebook.com" target="_blank"><img src="/images/socialmedia/facebook.png" style="border: none; margin-left :5px;" /></a>
        <a href="http://www.linkedin.com" target="_blank"><img src="/images/socialmedia/linkedin.png" style="border: none; margin-left :5px;" /></a>		
      </span>
    </div>

    <% link_tree(@menu_pages).reverse.each do |page_group| -%>
    <div class="footer_box resources_box">
      <%= render :partial => 'shared/footer_menu', :collection => page_group %>
    </div>
    <% end -%>
  </div>
</div>
<% end -%>
