
/*** ESSENTIAL STYLES ***/
.sf-menu {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			175px; /* left offset of submenus need to match (see below) */
	padding:3px !important;
	background:#0f0f0f;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	background:none !important;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			59px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			170px; /* match ul width */
	top:			-3px;
	margin-left:5px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			170px; /* match ul width */
	top:			-3px;
}




.sf-menu {
	float:			left;
}
.sf-menu a {
	text-decoration:none;
	color:#cfcfcf;
	padding:21px 13px 15px;
	position:relative;
	z-index:10;
	font-size:16px
}
.sf-menu a:hover	  { /* visited pseudo selector so IE6 applies text colour*/
	color:#cfcfcf;
}
.sf-menu a strong	  { /* visited pseudo selector so IE6 applies text colour*/
	position:absolute; width:100%; height:59px;
	background:url(../../../images/menu_hover.gif) repeat-x 50% 0;
	top:0; left:1px;
	z-index:5
}
.sf-menu li a strong	  { /* visited pseudo selector so IE6 applies text colour*/
	position:absolute; width:100%; height:59px;
	background:url(../../../images/menu_hover.gif) repeat-x 50% 0;
	top:0; left:0px;
	z-index:5
}
.sf-menu a span	  { /* visited pseudo selector so IE6 applies text colour*/
	position:relative;
	z-index:10
}
.sf-menu li {
	float:left;
	font-size:16px;
	background:url(../../../images/menu_spacer.gif) no-repeat 0% 22px !important;
}
.sf-menu li li {
	float:left;
	font-size:16px;
	background:none;
}
.sf-menu > li:first-child {
	background:none !important;
}

.sf-menu li a {


	}
.sf-menu li li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	background:url(../../../images/csg-4e56307fa551f.gif) repeat-x 0% 0% !important; background-position: 0 -432px;
	border:1px solid #1a1a1a;
  width:173px;
	line-height:46px
}
	.sf-menu li li a {
		font-weight:normal;
		color:#cfcfcf;
		padding:0 20px;
		line-height:46px;
		overflow:hidden;
		font-size:12px !important
	}
	.sf-menu li li a {}
	.sf-menu li li a:hover, .sf-menu li li a.current {
		color:#cfcfcf;
	}
	.sf-menu li li li a:hover, .sf-menu li li li a.current {
		color:#cfcfcf;
	}
	.sf-menu li li:last-child a {
		border-bottom:none;
	}
.sf-menu li li li {

}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			-12px;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	display:none
}

/* point right for anchors in subs */
#container ul ul .sf-sub-indicator { right:10px !important; top:18px;position:absolute !important; 	background:url(../../../images/marker_list.png) no-repeat 100% 0% !important; width:8px; height:14px; display:block !important; visibility:visible !important}
.sf-menu ul a > .sf-sub-indicator { }
