<div class="stream container_12">
  <div class="grid_12">
    <iframe id="stFrame" src="https://www.streamtext.net/text.aspx?event=strangeloop&chat=false" scrolling="no" frameborder="0" marginheight="0px" marginwidth="0px">
    </iframe>

    <div>Sponsored by:</div>
    <img width="932px" src="/images/twosigma_logo.jpg">
  </div>
</div>
