<h2>Proposal:</h2>
<p>
  Title: <%= @proposal.title %> 
</p>

<p>
  Speaker: <%= @proposal.speaker_name %> 
</p>

<p>
  Email: <%= @proposal.speaker_email %> 
</p>

<p>
  Description: <%= @proposal.description %>
</p>
